<div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="navigation">
  <div class="container">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="index.html" class="navbar-brand">Bootstrap 3</a>
    <div class="nav-collapse collapse bs-navbar-collapse">
      <ul class="nav navbar-nav">
        <li{{#is slug "getting-started"}} class="active"{{/is}}>
          <a href="./getting-started.html">Getting started</a>
        </li>
        <li{{#is slug "css"}} class="active"{{/is}}>
          <a href="./css.html">CSS</a>
        </li>
        <li{{#is slug "components"}} class="active"{{/is}}>
          <a href="./components.html">Components</a>
        </li>
        <li{{#is slug "js"}} class="active"{{/is}}>
          <a href="./javascript.html">JavaScript</a>
        </li>
      </ul>
    </div>
  </div>
</div>
