---
layout: home.hbs
title: Bootstrap
base_url: "./"
---

<div class="bs-masthead" id="content" role="main">
  <div class="container">
    <h1>Bootstrap 3</h1>
    <p class="lead">Sleek, intuitive, and powerful mobile-first front-end framework for faster and easier web development.</p>
    <p>
      <a href="{{ site.download }}" class="btn btn-outline btn-lg">Download latest BS3</a>
    </p>
  </div>
</div>
