<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {{> header }}
    <!-- Place anything custom after this. -->
  </head>
  <body class="bs-docs-home">
    <a class="sr-only" href="#content">Skip navigation</a>

    <!-- Docs master nav -->
    {{> nav-main }}

    <!-- Page content of course! -->
    {{> body }}

    <!-- Callout for the old docs link -->
    {{> old-bs-docs }}

    <div class="container" role="contentinfo">

      <ul class="bs-masthead-links">
        <li>
          <a href="{{ site.repo }}">GitHub project</a>
        </li>
        <li>
          <a href="{{ site.examples }}">Examples</a>
        </li>
        <li>
          <a href="{{ site.glyphicons }}">Glyphicons</a>
        </li>
        <li>
          <a href="{{ site.expo }}">Bootstrap Expo</a>
        </li>
      </ul>
    </div>

    <!-- JS and analytics only. -->
    {{> footer }}

  </body>
</html>
