<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {{> header }}
    <!-- Place anything custom after this. -->
  </head>
  <body class="bs-docs-home">
    <a class="sr-only" href="#content">Skip navigation</a>

    <!-- Docs master nav -->
    {{> nav-main }}

    <!-- Page content of course! -->
    {{> body }}

    <!-- JS and analytics only. -->
    {{> footer }}

  </body>
</html>
